@font-face {
  font-family: 'robotobold';
  src: url('roboto-bold_1-webfont.woff2') format('woff2'),
       url('roboto-bold_1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotolight';
  src: url('roboto-light_1-webfont.woff2') format('woff2'),
       url('roboto-light_1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotolight_italic';
  src: url('roboto-lightitalic_1-webfont.woff2') format('woff2'),
       url('roboto-lightitalic_1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1100px;
  margin: 0 auto;
}

.header {
  width: 1100px;
  height: 75px;
  background: #4b73b5;
  margin-bottom: 13px;
  position: relative;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

.contacts__phone {
  position: absolute;
  top: 17px;
  right: 20px;
  font-family: 'robotobold';
  font-size: 21px;
  color: #fff;
  text-decoration: none;
}

.contacts__schedule {
  position: absolute;
  bottom: 17px;
  right: 20px;
  font-family: 'robotobold';
  font-size: 14px;
  color:#b6c3dd;
}

.sidebar {
  float: left;
  width: 200px;
}

.menu__list {
  list-style-type: none;
}

.menu__link{
  text-decoration: none;
}

.menu__icon{
  display: inline-block;
  margin-left: 20px;
  margin-top: 30px; 
}

.menu__title{
  display: inline-block;
  margin-left: 20px;
  text-transform: uppercase;
  font-family: 'robotobold';
  font-size: 12px;
  color: #4b73b5;
  letter-spacing: 2px;
}

.content {
  float: left;
  width: 900px;
}

.section__title {
  font-family: 'robotobold';
  font-size: 49px;
}

.tariffs {
  list-style-type: none;
}

.tariffs__item {
  display: inline-block;
  width: 200px;
  height: 460px;
  margin-top: 20px;
  padding: 25px 35px;
  text-align: center;
}

.tariffs__item:hover {
  border: 1px solid #e8e9ed;
  border-radius: 5px;
}

.tariffs__picture {
  width: 70px;
  height: 70px;
  background: #4b73b5;
  border-radius: 50%;
  margin: 0 auto;
  position: relative; 
}

.tariffs__picture-img {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}