@font-face {
  font-family: "roboto";
  src: url("./fonts/roboto-bold_1-webfont.woff2") format("woff2"),
       url("./fonts/roboto-bold_1-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("./fonts/roboto-light_1-webfont.woff2") format("woff2"),
       url("./fonts/roboto-light_1-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("./fonts/roboto-lightitalic_1-webfont.woff2") format("woff2"),
       url("./fonts/roboto-lightitalic_1-webfont.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

body {
  font-family: "roboto", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.42;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

ul, p {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.header {
  height: 77px;
  background: #4b73b5;
  color: #fff;
  margin-bottom: 12px;
}

.container {
  width: 1060px;
  margin: 0 auto;
  position: relative;
}

.logo {
  position: absolute;
  top: 21px;
  left: 0;
}

.contacts__phone {
  top: 15px;
  right: 0;
  position: absolute;
  font-size: 21px;
  font-weight: bold;
  color: inherit;
  text-decoration: none;
}

.contacts__schedule {
  display: inline-block;
  position: absolute;
  top: 42px;
  right: 0;
  font-size: 13px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.702);
  border-bottom: 1px solid rgba(255, 255, 255, 0.702);
}

.contacts__schedule .tooltip {
  visibility: hidden;
  position: absolute;
  width: 130px;
  height: 40px;
  background-color: #fff;
  color: #000;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  text-align: left;
  padding: 10px 10px;
  border-radius: 2px;
  z-index: 1;
  top: 210%;
  left: -60%;
}

.contacts__schedule:hover .tooltip {
  visibility: visible;
}

.contacts__schedule .tooltip:after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 92%;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.tooltip__worktime {
  color: #6385d0;
}

.tooltip__dinner {
  font-weight: normal;
}

.sidebar {
  float: left;
  width: 178px;
  padding-top: 17px;
}

.menu__link{
  color: #4b73b5;
  line-height: 48px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.2em;
}

.menu__link:hover {
  color:#000;
}

.menu__link:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 23px;
  height: 18px;
  margin-right: 15px;
  background: center center no-repeat;
}

.menu__link--main:before {
  background-image: url('./img/icons/menu/main_icon.png');
}

.menu__link--feed:before {
  background-image: url('./img/icons/menu/feed_icon.png');
}

.menu__link--feed:hover:before {
  background-image: url('./img/icons/menu/feed_icon_active.png');
}

.menu__link--team:before {
  background-image: url('./img/icons/menu/team_icon.png');
}

.menu__link--team:hover:before {
  background-image: url('./img/icons/menu/team_icon_active.png');
}

.menu__item--active .menu__link--main {
  color:#000;
}

.main {
  height: 1743px;
  margin-bottom: 30px;
}

.content {
  float: left;
  width: 880px;
}

.tariffs-section {
  margin-bottom: 5px;
}

.section__title {
  font-size: 49px;
  font-weight: bold;
  margin-top: -5px;
  margin-bottom: 20px;
}

.tariffs__item {
  display: inline-block;
  width: 200px;
  height: 420px;
  padding: 40px 30px;
  text-align: center;
  border: 1px solid transparent;
}

.tariffs__item:hover {
  border: 1px solid #e8e9ed;
  border-radius: 5px;
}

.tariffs__picture {
  position: relative;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 70px;
  height: 70px;
  background: #4b73b5;
  border-radius: 50%;
}

.tariffs__picture--img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tariffs__name {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.2em;
  margin-bottom: 18px;
}

.tariffs__text {
  font-size: 18px;
  line-height: 34px;
}

.tariffs__options {
  margin-bottom: 20px;
}

.tariffs__options li {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
}

.tariffs__options li:before {
  content: '\2027';
  margin-right: 22px;
}

.tariffs__price {
  font-size: 54px;
}

.tariffs__price:before {
  content: '$';
  font-size: 32px;
}

.news-section {
  margin-bottom: 30px;
}

.news-section__title {
  margin-bottom: 55px;
}

.news__photo, .news-desc {
  display: inline-block;
  margin-bottom: 30px;
}

.news__photo{
  margin-right: 12px;
  vertical-align: bottom;
}

.news__photo-img {
  height: 160px;
  width: 160px;
  border-radius: 50%;
}

.news__item {
  border-bottom: 2px solid #f5f5f5;
  margin-bottom: 20px;
}

.news__item:nth-child(3) {
  border-bottom: none;
}

.news-desc {
  width: 652px;
  height: 170px;
  font-size: 18px;
}

.news__date {
    font-size: 14px;
    line-height: 1.5;
    color: #737272;
}

.news__name {
  font-weight: bold;
}

.news__text {
  line-height: 1.8em;
}

.pagination {
  text-align: center;
}

.pagination__item {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 3px;
}

.pagination__list:before {
  content:'Страница 1 из 7';
  font-weight: lighter;
  font-size: 14px;
}

.pagination__link {
  font-weight: bold;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  padding: 2px 8px;
}

.pagination__item .pagination__link--active, .pagination__link:hover {
  color: #fff;
  background-color: #4b73b5;
  border-radius: 2px;
}

.pagination__prev {
  pointer-events: none;
  cursor: default;
  color: #999;
}

.footer {
  position: relative;
  height: 75px;
  background: #4b73b5;
  color: #fff;
  clear: both;
}

.author {
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 13px;
  width: 250px;
  height: 50px;
}

.loft__link {
  color: #fff;
}

.footer_logo {
  position: absolute;
  top: 20px;
  left: 44%;
}

.social {
  position: absolute;
  top: 15px;
  right: 7px;
}

.social__display {
  font-size: 14px;
  font-weight: bold;
}

.networks__item {
  display: inline-block;
  margin: 0 auto;
  position: relative; 
}

.networks__link {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #d2def3;
  border-radius: 50%;
  margin: 5px 3px;
  vertical-align: middle;
}

.networks-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.networks__link:hover {
  background: #fff;
}
  