.booking {
  min-height: 290px;
  width: 102%;
  background: url('../../img/comments/pattern.png') center center #4b73b5;
  margin-bottom: 26px;
  text-align: center;
}

.booking__text {
  font-size: 18px;
  color: #fff;
  line-height: 1.7em;
  padding: 12px 15px;
  margin: auto;
}

.booking__text--link, .booking__text--phone  {
  font-weight: bold;
  color: #fff;
}

.booking__text--phone {
  text-decoration: none;
}