.footer {
  height: 75px;
  background: #4b73b5;
  color: #fff;
}

.footer__container {
  display: flex;
  height: 75px;
  justify-content: space-between;
  align-items: center;
}

.author {
  font-size: 13px;
  width: 250px;
  height: 50px;
}

.loft__link {
  color: #fff;
}

.footer__logo-link {
  margin-right: 100px;
}

.social__display {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
}

.networks__list {
  display: flex;
  justify-content: space-between;
  width: 140px;
}

.networks__item {
  position: relative; 
}

.networks__link {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #d2def3;
  border-radius: 50%;
  margin: 5px 3px;
  vertical-align: middle;
}

.networks-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.networks__link:hover {
  background: #fff;
}