.form-section {
  height: 430px;
  width: 670px;
  background-color: #f5f5f5;
  margin: 0 auto;
  padding: 40px 65px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form__block {
  width: 270px;
  margin-bottom: 10px;
  line-height: 1.8em;
}

.form__block:nth-child(3) {
  margin-right: -20px;
}

.form__block--input {
  width: 270px;
  height: 45px;
  border: none;
  padding: 10px;
}

.form__block--textarea {
  width: 570px;
}

.textarea {
  border: none;
  resize: none;
  height: 90px;
  width: 560px;
  padding: 10px;
}

.radio {
  position: relative;
  height: 18px;
  width: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  vertical-align: middle;
}

.radio::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #4b73b5;
}

.radio:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #4b73b5;
  transform: translate(-50%, -50%);
  visibility: visible;
}

.radio__yes, .radio__no {
  vertical-align: middle;
  margin-right: 20px;
}

.form__button--item {
  width: 155px;
  height: 45px;
  background-color: #4b73b5;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.2em;
}

.form__button--text:after {
  content: url('../../img/icons/button.png');
  margin-left: 10px;
}