.header {
  height: 77px;
  background: #4b73b5;
  color: #fff;
  margin-bottom: 12px;
}

.header__container {
  display: flex;
  height: 77px;
  justify-content: space-between;
  align-items: center;
}