.header {
  background: #4b73b5;
  color: #fff;
  margin-bottom: 26px;
  min-height: 73px;
}

.header__container {
  position: relative;
  display: flex;
  padding: 10px 0;
  min-height: 73px;
}

.header__col {
  flex: 1;
  display: flex;
  align-items: center;
}

.header__col--align-right {
  justify-content: flex-end;
  flex-wrap: wrap;
}
