.partners-section {
  min-height: 370px;
  padding: 25px 0;
  border: 1px solid #e8e9ed;
  text-align: center;
  margin-bottom: 25px;
}

.partners__title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.partners__item {
  flex: 1 0 280px;
  padding: 22px 0;
  margin-bottom: 15px;
}

.partners__item:nth-child(6) {
  padding-bottom: 0;
  margin: 0;
}

.partners__link {
  display: flex;
  align-items: center; 
  justify-content: center;
}

.partners__img {
  max-width: 100%;
  max-height: 100%;
  filter: grayscale(100%)
  
}

.partners__img:hover {
  filter: grayscale(0);
  transition: 0.5s;
}

