.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-fb {
    width: 6px;
    height: 13px;
    background-position: -10px -10px;
}

.sprite-google {
    width: 15px;
    height: 9px;
    background-position: -36px -10px;
}

.sprite-mail {
    width: 12px;
    height: 9px;
    background-position: -71px -10px;
}

.sprite-twitter {
    width: 11px;
    height: 9px;
    background-position: -103px -10px;
}

.sprite-vk {
    width: 12px;
    height: 7px;
    background-position: -134px -10px;
}
