.team {
  display: flex;
  flex-wrap: wrap;
}

.team__item {
  width: 33.3%;
  min-height: 380px;
  padding: 10px 10px;
  margin-bottom: 20px;
  text-align: center;
}

.team__cover {
  position: relative;
  margin-bottom: 18px;
}

.team__photo {
  display:block;
  position: relative;
  margin: 0 auto;
  width:160px;
  height:160px;
}

.team__photo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(75, 115, 181, 0.6);  
  border-radius: 50%;
}

.team__photo--img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.team__photo--name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  line-height: 1.42;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin:0;
}

.team__name {
  font-size: 18px;
  font-weight: bold;
}

.team__position {
  font-size: 14px;
  font-weight: bold;
  color: #4b73b5;
  margin-bottom: 7px;
}

.team__text {
  font-size: 14.5px;
  line-height: 1.5em;
}

