.news-section {
  margin-bottom: 35px;
}

.news-section__title {
  margin-bottom: 30px;
}

.news {
  display: flex;
}

.news__item {
  display:  flex;
  flex-direction: column;
  padding: 5px 14px;
  width: 33.3%;
}

.news_appearance {
  align-self: center;
  margin-bottom: 34px;
}

.news__photo{
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
  border-radius: 50%;
}

.news__photo-img {
  display: block;
  width: 160px;
  height: 160px;
  max-width: 100%;
}

.news-desc {
  font-size: 18px;
}

.news__date {
    font-size: 14px;
    line-height: 1.5;
    color: #737272;
}

.news__name {
  font-weight: bold;
  margin-bottom: 5px;
}

.news__text {
  font-size: 13px;
  line-height: 1.7em;
}