.social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social__display {
  font-size: 14px;
  font-weight: bold;
}

.networks__list {
  display: flex;
  justify-content: space-between;
  width: 140px;
}

.networks__link {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 5px 3px;
  background-image: url('../../img/social/spritesocial.png');
}

.networks__link--vk {
  background-position: -133px -3px;
}

.networks__link--fb {
  background-position: -5px -6px;
}

.networks__link--google {
  background-position: -33px -4px;
}

.networks__link--twitter {
  background-position: -98px -4px;
}

.networks__link--mail {
  background-position: -67px -4px;
}